q13/hospital.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="hospital_records">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="patient" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="first_name" type="xs:string"/>
                    <xs:element name="middle_name" type="xs:string" minOccurs="0"/>
                    <xs:element name="last_name" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="patient_number">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="[0-9]{5}"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="doctor_name" type="xs:string"/>
              <xs:element name="disease" type="xs:string" maxOccurs="unbounded"/>
              <xs:element name="consultation_charge">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:minInclusive value="500"/>
                    <xs:maxInclusive value="5000"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="lab_tests">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="test" type="xs:string" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
