q11/students.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="students">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="student" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute name="regid" type="xs:integer" use="required"/>
                <xs:attribute name="firstName" type="xs:string" use="required"/>
                <xs:attribute name="lastName" type="xs:string" use="required"/>
                <xs:attribute name="age" type="xs:positiveInteger" use="required"/>
                <xs:attribute name="university" type="xs:string" use="required"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
