q6/university.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="addressType">
    <xs:sequence>
      <xs:element name="street" type="xs:string"/>
      <xs:element name="suburb" type="xs:string"/>
      <xs:element name="postcode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="staffType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="title" type="xs:string" minOccurs="0"/>
      <xs:element name="category">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="academic"/>
            <xs:enumeration value="general"/>
            <xs:enumeration value="technical"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="address" type="addressType" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="staff_id" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:simpleType name="capacityLimit">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="6"/>
      <xs:maxInclusive value="400"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="university">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="school" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="location" type="xs:string" maxOccurs="unbounded"/>
              <xs:element name="staff_members">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="staff" type="staffType" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="subjects">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="subject" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string"/>
                          <xs:element name="description" type="xs:string"/>
                          <xs:element name="capacity" type="capacityLimit"/>
                          <xs:element name="taught_by" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="staff_ref" type="xs:string" use="required"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="subject_code" type="xs:string" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="school_id" type="xs:string" use="required"/>
          </xs:complexType>
          <xs:key name="staffKey">
            <xs:selector xpath="staff_members/staff"/>
            <xs:field xpath="@staff_id"/>
          </xs:key>
          <xs:keyref name="taughtByStaffRef" refer="staffKey">
            <xs:selector xpath="subjects/subject/taught_by"/>
            <xs:field xpath="@staff_ref"/>
          </xs:keyref>
          <xs:key name="subjectKey">
            <xs:selector xpath="subjects/subject"/>
            <xs:field xpath="@subject_code"/>
          </xs:key>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="uniqueSchoolId">
      <xs:selector xpath="school"/>
      <xs:field xpath="@school_id"/>
    </xs:unique>
  </xs:element>
</xs:schema>
